@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 210deg 15% 12%;
    --color-bkg: 210deg 25% 94%;
    --color-accent: 45deg 100% 40%;
  }
  :root[data-theme="dark"] {
    --color-primary: 210deg 25% 94%;
    --color-bkg: 210deg 15% 12%;
    --color-accent: 45deg 100% 50%;
  }
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
}
